<div class="contract-app">
  <header class="flex items-center justify-center md:justify-between flex-wrap p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <img src="assets/volders-logo.svg" alt="Volders Logo">
    </div>
    <div class="flex items-center flex-shrink-0 text-gray-500 mr-6 invisible h-0 md:visible">
      <span class="pr-8">Awards From</span>
      <img src="assets/tuev-01-2018.svg" class="w-20 h-20 pr-8" alt="Tuev Logo">
      <img src="assets/logo-ekomi.png" class="w-10 h-10" alt="Ekomi Logo">
    </div>
  </header>
  <main class="container mx-auto white px-5 md:px-20">
    {{outlet}}
  </main>
</div>